<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-复习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-NSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-NSString常用成员.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-NSString类的常用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-字符串的常用成员.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-NSMutableString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-NSArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-description.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>09-NSMutbaleArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>10-NSNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>186DC6B21BF64A70002F7FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186DC6C01BF65015002F7FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186DC6CB1BF658B8002F7FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186DC6D91BF65FDC002F7FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186DC6E41BF67427002F7FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186DC6EF1BF69459002F7FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186DC6FD1BF6A455002F7FCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B0C2201BF6BE7E001D9EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B0C22E1BF6C1BC001D9EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B0C23C1BF6C83E001D9EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
